name: Publish Docker Latest

on:
  push:
    branches:
      - master

jobs:
  Publish-Docker-Release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.0'
      - run: go version

      - name: Install dependencies
        run: |
          go mod download

      - name: Build docker image
        run: |
          docker build . -t loadept/pg-mcp

      - name: Push docker image
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
          docker push loadept/pg-mcp
